.WeatherUpdates {
    padding              : 1.5rem;
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows   : 1fr 1fr;
    justify-items        : center;
    background-image     : linear-gradient(#321567, #0e061d);
    height               : 33rem;

    @include tabletResponsive {
        height: 40rem;
    }

    @include phoneResponsive {
        grid-template-columns: 1fr;
        grid-template-rows   : 1fr 1fr 1fr;
        height               : 45rem;
    }
}

@import './CurrentWeather';
@import './WeatherLocation';
@import './WeatherCondition';