* {
    margin : 0px;
    padding: 0px;
}

@mixin alignment($direction) {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : $direction;
}

.form-body {
    height: 45vh;

    .time-date {
        @include alignment(column);
        margin-top: 4%;

        h1 {
            color: white;
            font-family: 'Roboto Condensed',
                sans-serif;
            font-size: 2.5rem;
        }

        h2 {
            @extend h1;
            font-size : 1.5rem;
            font-style: italic;
        }
    }

    .form-setup {
        @include alignment(column);
        margin-top: 2%;

        input {
            border          : none;
            border-radius   : 10px;
            width           : 50%;
            padding         : 1rem;
            margin          : 1rem;
            background-color: white;
            color           : black;
            font-family     : 'Oswald', sans-serif;
            font-size       : 12pt;
            outline         : none;

            &:hover {
                background-color: inherit;
                color           : whitesmoke;
                border          : 2px solid black;
            }
        }

        button {

            border-radius   : 15px;
            font-size       : 12pt;
            width           : 15%;
            background-color: red;
            color           : black;
            padding         : 0.7rem;
            border          : none;

            &:hover {
                background-color: inherit;
                color           : white;
                cursor          : pointer;
                border          : 1px solid black;
            }
        }
    }
}

.data {
    @include alignment(column);

    .data-body {
        // padding-bottom: 0.5rem;
        @include alignment(column);
        border          : 2px solid rgb(141, 139, 5);
        width           : 30%;
        border-radius   : 20px;
        background-color: burlywood;
        font-family     : 'Mulish', sans-serif;
        color           : cornsilk;
        box-shadow      : 5px 5px 5px 5px rgb(56, 53, 53);
        text-shadow     : -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }

    img {
        width  : 20%;
        padding: 0.5rem;
    }
}