.forecastCardBody {
    display        : flex;
    justify-content: center;
    gap            : 10rem;

    @include phoneResponsive {
        flex-direction: column;
        align-items   : center;
        gap           : 1rem;
        grid-row      : 1/1;
    }

    @include tabletResponsive {
        margin-top     : 2rem;
        justify-content: space-around;
        grid-row       : 1/1;
    }

    .forecastCard {
        display        : flex;
        flex-direction : column;
        height         : 30rem;
        width          : 15rem;
        justify-content: center;
        align-items    : center;

        @include phoneResponsive {
            flex-direction  : row;
            width           : 100%;
            max-width       : 98%;
            gap             : 1rem;
            justify-content : space-around;
            align-items     : center;
            height          : 15rem;
            background-color: #e6e7e8;
            box-shadow      : 1px 1px 10px 3px #888888;
            border          : 1px solid rgb(65, 61, 61);
        }

        &__Day {
            color      : #8d8c8e;
            font-weight: 400;
            font-size  : 3rem;

            @include phoneResponsive {
                font-size: 3.5rem;
                order    : 2;
            }
        }

        &__Img {
            height: 15rem;
            width : 100%;

            @include phoneResponsive {
                width       : 20%;
                order       : -1;
                justify-self: flex-start;
            }

            img {
                width     : 100%;
                height    : 100%;
                object-fit: contain;
            }
        }

        &__temperature {
            font-size  : 2rem;
            font-weight: 400;

            @include phoneResponsive {
                font-size: 3.5rem;
            }
        }

        &__Condition {
            font-weight: 600;
            color      : #8d71a9;
            font-size  : 1.3rem;

            @include phoneResponsive {
                display: none;
            }
        }
    }
}