.navbar {
  background-color: black;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: autofit(3, 1fr);
      grid-template-columns: autofit(3, 1fr);
      grid-template-areas: 'image name';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600) {
  .navbar {
        grid-template-areas: '. image name';
  }
}

.navbar .logo-img {
  height: 4rem;
  width: 4rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
}

.navbar .app-name {
  font-family: 'Dancing Script', cursive;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
}

* {
  margin: 0px;
  padding: 0px;
}

.form-body {
  height: 45vh;
}

.form-body .time-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4%;
}

.form-body .time-date h1, .form-body .time-date h2 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
}

.form-body .time-date h2 {
  font-size: 1.5rem;
  font-style: italic;
}

.form-body .form-setup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2%;
}

.form-body .form-setup input {
  border: none;
  border-radius: 10px;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 12pt;
  outline: none;
}

.form-body .form-setup input:hover {
  background-color: inherit;
  color: whitesmoke;
  border: 2px solid black;
}

.form-body .form-setup button {
  border-radius: 15px;
  font-size: 12pt;
  width: 15%;
  background-color: red;
  color: black;
  padding: 0.7rem;
  border: none;
}

.form-body .form-setup button:hover {
  background-color: inherit;
  color: white;
  cursor: pointer;
  border: 1px solid black;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.data .data-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #8d8b05;
  width: 30%;
  border-radius: 20px;
  background-color: burlywood;
  font-family: 'Mulish', sans-serif;
  color: cornsilk;
  -webkit-box-shadow: 5px 5px 5px 5px #383535;
          box-shadow: 5px 5px 5px 5px #383535;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.data img {
  width: 20%;
  padding: 0.5rem;
}
/*# sourceMappingURL=App.css.map */