.WeatherUpdates {
  padding: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  justify-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#321567), to(#0e061d));
  background-image: linear-gradient(#321567, #0e061d);
  height: 33rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .WeatherUpdates {
    height: 40rem;
  }
}

@media (max-width: 420px) {
  .WeatherUpdates {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    height: 45rem;
  }
}

.currentWeather {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .currentWeather {
    -ms-grid-column: 2;
    grid-column: 2/2;
  }
}

.currentWeather__temperature {
  color: white;
  font-size: 8rem;
  font-weight: normal;
}

.currentWeather__conditions {
  color: #72708f;
  font-size: 2.5rem;
}

.Location {
  color: white;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: right;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .Location {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
}

@media (max-width: 420px) {
  .Location {
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
}

.Location__City {
  font-weight: 300;
  font-size: 4.2rem;
}

@media (max-width: 420px) {
  .Location__City {
    font-size: 6rem;
  }
}

.Location__City::before {
  font-size: 5rem;
  margin-right: 1rem;
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: '\f3c5';
}

.Location__Country {
  font-weight: 50;
  font-style: italic;
  font-size: 1.8rem;
}

@media (max-width: 420px) {
  .Location__Country {
    font-size: 2rem;
  }
}

.weatherCondition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #72708f;
  font-size: 1.8rem;
  width: 40rem;
}

@media (max-width: 420px) {
  .weatherCondition {
    font-size: 2.3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .weatherCondition {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
}

.weatherCondition__Humidity {
  text-align: center;
}

.weatherCondition__Humidity::before {
  font-size: 1.6rem;
  content: 'Humidity';
  display: block;
}

@media (max-width: 420px) {
  .weatherCondition__Humidity::before {
    font-size: 1.8rem;
  }
}

.weatherCondition__Line {
  border-left: 2px solid #5c5b6d;
  height: 4rem;
}

.weatherCondition__Wind {
  text-align: center;
}

.weatherCondition__Wind::before {
  font-size: 1.6rem;
  content: 'Wind';
  display: block;
}

@media (max-width: 420px) {
  .weatherCondition__Wind::before {
    font-size: 1.8rem;
  }
}

.forecastCardBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10rem;
}

@media (max-width: 420px) {
  .forecastCardBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .forecastCardBody {
    margin-top: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
}

.forecastCardBody .forecastCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30rem;
  width: 15rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 420px) {
  .forecastCardBody .forecastCard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    max-width: 98%;
    gap: 1rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15rem;
    background-color: #e6e7e8;
    -webkit-box-shadow: 1px 1px 10px 3px #888888;
            box-shadow: 1px 1px 10px 3px #888888;
    border: 1px solid #413d3d;
  }
}

.forecastCardBody .forecastCard__Day {
  color: #8d8c8e;
  font-weight: 400;
  font-size: 3rem;
}

@media (max-width: 420px) {
  .forecastCardBody .forecastCard__Day {
    font-size: 3.5rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.forecastCardBody .forecastCard__Img {
  height: 15rem;
  width: 100%;
}

@media (max-width: 420px) {
  .forecastCardBody .forecastCard__Img {
    width: 20%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    justify-self: flex-start;
  }
}

.forecastCardBody .forecastCard__Img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.forecastCardBody .forecastCard__temperature {
  font-size: 2rem;
  font-weight: 400;
}

@media (max-width: 420px) {
  .forecastCardBody .forecastCard__temperature {
    font-size: 3.5rem;
  }
}

.forecastCardBody .forecastCard__Condition {
  font-weight: 600;
  color: #8d71a9;
  font-size: 1.3rem;
}

@media (max-width: 420px) {
  .forecastCardBody .forecastCard__Condition {
    display: none;
  }
}

.Graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

.Graph__Button {
  padding: .8rem 1rem;
  width: 20rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  background-color: blue;
  color: white;
  border: none;
  outline: none;
}

@media (max-width: 420px) {
  .Graph__Button {
    border-radius: 5rem;
    padding: 1.2rem;
  }
}

.Graph__Button:hover {
  -webkit-box-shadow: 2px 2px 10px 5px #888888;
          box-shadow: 2px 2px 10px 5px #888888;
  cursor: pointer;
}

.hourlyForeCast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hourlyForeCast__Button {
  font-size: 2rem;
  padding: 1rem;
  background-color: blue;
  color: white;
}

.hourlyForeCast__Button:hover {
  -webkit-box-shadow: 2px 2px 10px 5px #888888;
          box-shadow: 2px 2px 10px 5px #888888;
}

@media (max-width: 420px) {
  .hourlyForeCast__Button {
    border-radius: 5rem;
    padding: 1.5rem;
  }
}

.weather-search {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.weather-search input {
  padding: .5rem;
  width: 25rem;
  outline: none;
}

.weather-search button {
  margin-left: .2rem;
  border: none;
  outline: none;
  padding: .7rem 1rem;
  font-weight: bold;
  color: white;
  background-color: #0ba70b;
}

.weather-search button:hover {
  background-color: #0b690b;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

.WeatherForecastPortion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .WeatherForecastPortion {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 420px) {
  .WeatherForecastPortion {
    margin-top: 2rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=App.css.map */